/* CSS reset */

*{
margin:0px;
padding:0px;
}

p,a,ul,li,h1,h2,h3,h4,h5,h6 {
  font-family: arial, sans-serif;
}

body {
  font-size: 18px;
  color: black;
}
h1 {
  font-size: 1.7em;
  color:grey;
  font-weight: lighter;
  display: inline-block;
}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5{
font-size: 16px;
font-weight: bold;
display: inline-block;
vertical-align: top;
position: relative;
top:3px;
text-align: center;}
h6{
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#wrapper{
  width:970px;
  margin-left: auto;
  margin-right: auto;
}


#nav{
  background: #f3f3f3;
  margin-top: 2px;
  margin-bottom: 7px;
  display: table;
  font-size: 16px;
  width: 970px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;

}

#nav_bar{
  background: #f3f3f3;
  margin: 0px;
  display: inline-table;
  font-size: 16px;
  height: 40px;
  width: 918px;
  text-align: center;
  vertical-align: middle;
}

#nav ul{
  padding: 0px;
  margin: 0px;
  display: inline-table;
  vertical-align: middle;
}

#nav ul li{
    list-style-type: none;
    display: table-cell;
    height: 40px;

    width: 50px;
    border-right:solid 1px;
    border-color: #e7e7e7;
}

#nav li:last-child {
  border: none;
}

#nav li a {
  color: grey;
  display:block;
  height: 40px;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
}


#nav li a:hover {
    color: white;
    background: grey;
    text-align: center;
    text-decoration: none;
}


#logo1{
  height: 41.5px;
  vertical-align: top;
  display: inline-table;
  object-fit:cover;
  border-radius: 4px 0px 0px 4px;
}


#search{
  display: table-cell;
  position: relative;
  left: 50px;
}

#search input[type=text]{
  text-indent: 32px;
  border: 1px solid #e3e3e3;
  border-radius: 10px 0px 0px 10px;
  border-right: none;
  padding: 0px;
  display: inline-block;
  margin: 0px;
  font-size: 14px;
  height: 17px;
}

.search{
  position:relative;
  color:#d1cccc;
  font-size: 14px;
}


.fa-search{
  position:absolute;
  top:2.5px;
  left: 6px;
  background: white;
}

#search input[type=submit]{
  padding: 0px;
  display: inline-block;
  margin: 0px;
  text-indent: 32px;
}

#search_button{
  background-image: url('accordance/menu_icon2.png');
  width: 21px;
  height: 19px;
  border: none;
  position: relative;
  bottom:1px;
  right:3px;
}

#main_photo{
  width: 970px;
  height: auto;
  display: block;
}

#features_nav{
  height: 25px;
  vertical-align: top;
  background:#4a4e56;
  color:#02b0ef;
  font-size: 14px;
  padding: 3px;
  padding-left: 8px;
  border-radius: 0px 0px 5px 5px;
}

#features_nav a{
  vertical-align: middle;
  color:#02b0ef;
  text-decoration: none;
  margin: 5px;
}

#features_nav a:hover{
  color:white;
  text-decoration: none;
}

.diag_divider{
  color:grey;
  display: inline;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#store{
  margin-top: 8px;
  background: #f2f7f9;
  border: 3px solid #f2f7f9;
  border-radius: 15px;
  padding: 10px 0px 0px 10px;

}

#browse_link{
  width: 300px;
  margin-left: 25px;
  vertical-align: top;
  display:inline-block;
  background: #02b0ef;
  text-align: center;
  padding: 5px;
  border: 1px solid #f2f7f9;
  border-radius: 12px;
}

#browse_link a {
  color:white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  width: 300px;
}

#browse_link a:hover {
  color:yellow;
}

#store_offers{
  border-top: 1px solid grey;
  height: 300px;
  background: #f2f7f9;
}

.store_column{
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid grey;
  height: 275px;

  width: 220px;
  padding:5px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.store_column:last-of-type{
  border-right: none;
}

.store_column p{
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: bottom;

}

.store_column_top{
  display: block;
  vertical-align: top;
  height: 30px;
  margin-bottom: 5px;
}


.store_icon1{
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background: #f2f7f9;
}

.store_icon{
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  background: #f2f7f9;
}

.store_image{
  text-align: center;
  vertical-align: top;
  height: 100px;
  width:180px;
  display: block;
  margin:auto;
}

.store_column .content_link{
  font-weight: bold;
  margin: auto;
  vertical-align: bottom;
  text-align: center;
  background: #02b0ef;
  font-size: 16px;
  width: 180px;
  height: 25px;
  border: 1px solid #f2f7f9;
  border-radius: 5px;

}

.store_column a{
  color:white;
  text-decoration: none;
}

.store_column a:hover{color:yellow;}

#empty{
  border-top: 1px solid grey;
}

#footer{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.footer_column{
  width:135px;
  background: #fcfcfc;
  display: inline-block;
  vertical-align: top;
  padding:10px;
  margin-left: auto;
  margin-right: auto;

}

#footer ul{
  margin-top: 5px;
  margin-bottom: 15px;
}

#footer ul li {
  list-style: none;
    list-style-position: outside;
    margin-left: 0em;
    margin-bottom: 4px;
}

#footer a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}


#phone{
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px;
}

#phone a{
  text-decoration: underline;
  color: blue;
}
